# BFF
BFF_PORT=3000
CORE_URL=http://localhost:3001

# Core
CORE_PORT=3001
MONGODB_URI=mongodb://localhost:27017/ecommerce

# Redis — não configurado ainda (veja task T-004)
REDIS_HOST=localhost
REDIS_PORT=6379
